.sidebar {
  list-style: none;
  background: #2C3333;
}

.sidebar .item {
  position: relative;
  background: inherit;
}

.item a {
  display: block;
  padding: 27px;
  height: 100%;
  text-decoration: none;
  color: white;
}

.item::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  transform: translateX(-100%);
  transition: transform 200ms ease;
}

.item:hover {
  background: rgba(0,0,0, 0.4);
}

.item:hover a {
  color: #539165;
}

.item.active a {
  color: #539165;
}

.item.active::before {
  background: #539165;
  transform: translateX(-10%);
}

.contents .image {
  display: none;
}

@media (max-width: 1150px) {
  .sidebar {
    display: flex;
    position: relative;
  }

  .item:hover {
    background: #2C3333;
  }

  .item.active::before {
    transform: translateX(0%);
  }

  .item:hover a {
    color: #fff;
  }

  .item.active:hover a {
    color: #539165;
  }

  .item {
    font-size: 16px;
  }

  .item a {
    padding: 20px;
  }

  .item a:focus {
    outline: none;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }

  .contents .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 64px;
    width: 64px;
    overflow: hidden;
    border-radius: 50%;
    outline: 2px solid white;
  }

  .item.active .image {
    outline: 3px solid #539165;
  }

  .contents .image img {
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
  }
}

@media (max-width: 730px) {
  .item {
    font-size: 13px;
  }

  .contents .image {
    height: 48px;
    width: 48px;
  }
}

@media (max-width: 550px) {
  .item {
    font-size: 11px;
  }

  .contents .image {
    height: 36px;
    width: 36px;
  }
}
