.home {
  padding: 20px;
}

.grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 30px;
  max-width: 1100px;
  margin-inline: auto;
}

.grid a {
  text-decoration: none;
}

.paper {
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: hidden;
  transition: box-shadow 200ms ease;
}

.paper:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.image {
  margin-top: 20px;
  height: 200px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.image img {
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
  transition: transform 400ms ease;
  transition-delay: 1000ms;
}

.paper:hover .image img {
  transform: scale(1.1);
}

.category {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #539165;
  letter-spacing: 2px;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (max-width: 950px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (max-width: 820px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 790px) {
  .image {
    height: 120px;
  }
  .category {
    font-size: 24px;
  }
}
